* {
  box-sizing: border-box;
}

body, header, main, h1, h2, h3, ul, footer, p {
	margin: 0;
	padding: 0;
}

body > header, body > main, body > iframe, body > h2, body > ul, body > footer {
	display: block;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

body, body > main, body > iframe, body > h2, body > ul, body > footer {
	border-image
	border-color: #CD9B00;
	border-style: double;
	border-width: 3px;
}

p {
	margin-bottom: 0.9em;
}

html {
	padding: 5px;
}

body {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "header   header   header   header   header  "
		                 ".        main     main     main     .       "
		                 ".        iframe   iframe   iframe   .       "
	                     "body_h2 body_h2  body_h2  body_h2  body_h2 "
		                 "body_ul  body_ul  body_ul  body_ul  body_ul "
		                 "footer   footer   footer   footer   footer  ";
	background-color: black;
	color: #CD9B00;
	padding: 1em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";	
}

h1, h2, h3 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

body > header {
	grid-area: header;
	padding: 0;
	margin-left: -1em;
}

body > main {
	grid-area: main;	
}

body > main h1 {
	border-bottom-color: #CD9B00;
	border-bottom-style: double;
	border-bottom-width: 3px;
	
	padding-bottom: 2px;
	margin-bottom: 0.5em;
}

body > main h3 {
	margin-bottom: 0.3em;
}

body > main > dl {
	display: grid;
	grid-template-columns: 1fr 1fr 0.5fr 3fr;
	margin: 0;
	margin-top: 0.4em;
	margin-bottom: 1.5em;
}
body > main > dl dt {
	display: inline-block;
	font-weight: bold;
	text-align: right;
	padding-right: 1em
}

body > main > dl dd {
	display: inline-block;
	margin: 0;
}

body > iframe {
	grid-area: iframe;
	width: 100%;
	padding: 0;
}

body > h2 {
	grid-area: body_h2;
	margin-bottom: 0;
	padding-bottom: 0.3em;
	border-bottom-style: none;
}

body > ul {
	grid-area: body_ul;
	padding-top: 0;
	border-top-style: none;
}

body > ul li {
	display: inline-block;
	list-style-type: none;
	margin-right: 1em;
	
}

body > ul li a:link, body > ul li a:visited{
	text-decoration: none;
	color: #97750B;
	font-weight: bold;
}

body > ul li a:hover, body > ul li a:active, body > ul li a:focus {
	text-decoration: underline;
	color: #CD9B00;
	font-weight: bold;
}


body > footer {
	grid-area: footer;
	background-color: #CD9B00;
	line-height: 50px;
	color: black;
	margin-bottom: 0;
	border-color: black;
}

body > footer p {
	display: inline-block;
	margin: 0;
	margin-right: 1.5em;
	font-weight: bold;
}